body {
  margin: 0;
  /*font-family: "Cairo", sans-serif;*/
  /*font-family: "Press Start 2P", cursive;*/
  font-family: "Exo 2", sans-serif;

  color: #3e3e3e;
  background: #011821;
}

canvas {
  position: absolute;
}

#numbers {
  position: absolute;
}

input {
  background: none;
  color: lightgrey;
  font-size: 18px;
  border: 1px solid gray;
  border-radius: 4px;
  outline: none;
  background: none;
  padding: 16px 24px;
  width: 240px;
}

@keyframes MoveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-80px);
  }
}

.number-flow {
  animation: MoveUp 1.3s linear;
  transform: translateX(-50%);
}
